.info{
  display: flex;
  flex-direction: column;
  width: 1110px;

  margin: 0 auto;

  .impair{

    display: flex;
    flex-direction: row-reverse;
  }

  .rougeText{

    color: $projet-rouge;
  }

  .bleuText{

    color: $projet-bleu;
  }

  .vertText{

    color: $projet-vert;
  }


  h2{
    font-size: $fz-h2;

    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }

  section{
    display: flex;
    height: 370px;
    padding: 0;
    margin-bottom: 150px;
    position: relative;

    .contenuInfo{
      display: flex;
      flex-direction: column;
      margin-right: 90px;
      margin-left: 90px;


      a{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 410px;
        height: 55px;
      }

      .rougeButton {
        background-color: $projet-rouge;
      }

      .vertButton{

        background-color: $projet-vert;
      }

      .bleuButton{

        background-color: $projet-bleu;
      }


    }

    .box {
      width: 594px;
      height:370px;
      background-color: $black;
      position: relative;
      z-index: -1;
    }

    .red {
      background-color: $projet-rouge;
    }

    .blue {
      background-color: $projet-bleu;
    }

    .green {
      background-color: $projet-vert;
    }

  }

}


.publicite{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;

}


@media only screen and (max-width: 760px){

  .info{
    font-size: 14px;

    width: auto;

    .impair{
      display: flex;
      flex-direction: column-reverse;
    }

    h2{
      font-size: $fz-normal;
      text-align: center;
      width: 100%;
      margin-top: 50px;
    }

    section{
      flex-direction: column-reverse;
      width: 400px;
      .box{
        height: 60%;
        margin: 0;

        width: 200%;
      }

      img{
        margin-left: 15%;
        height: 100%;
        width: 50%;
      }
    }

    .contenuInfo{
      p{
        width: 65%;
        margin-left: 50px;
      }
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      h3{
        display: none;
      }
      .rougeButton,
      .bleuButton,
      .vertButton{
        height: 30px;
        width: 250px;

        margin-left: 50px;
      }
    }

  }

}

@media only screen and (max-width: 1440px){

}


