.animationHover {
  border: none;
  background-color: #667273;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.animationHover:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 100%;
  border-radius: inherit;
  background-color: rgba(242,242,242,0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.animationHover:hover:after{
  right: 0;
}
