footer{
  background-color: $black;
  height: 200px;
  display: flex;
  justify-content: space-evenly;

  p{
    color: $white;
    text-align: center;
  }

  .logo{
    margin-top: 80px;
    height: 51px;
  }

  .iconefooter{
    padding-top: 80px;
    img{
      padding: 10px;
    }
  }


}



@media only screen and (min-width: 375px){

  footer{
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;

    p{
      color: $white;
      text-align: center;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }

    .logo{

      height: 51px;
    }

    .iconefooter{

      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0;
      img{
        padding: 10px;
      }
    }


  }


}

@media only screen and (min-width: 1024px){
  footer{
    background-color: $black;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    .contactfooter{
      padding-top: 80px;
    }

    p{
      color: $white;
      text-align: center;
    }

    .logo{
      margin-top: 80px;
      height: 51px;
    }

    .iconefooter{
      padding-top: 80px;
      img{
        padding: 10px;
      }
    }


  }

}

@media only screen and (min-width: 1440px){
  footer{
    background-color: $black;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    p{
      color: $white;
      text-align: center;
    }

    .logo{
      margin-top: 80px;
      height: 51px;
    }

    .iconefooter{
      padding-top: 80px;
      img{
        padding: 10px;
      }
    }


  }

}





