header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 100vw;

  position: fixed;


  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      margin: 0 20px;
      font-size: 18px;
      text-shadow: 1px 1px 4px $white;
    }

  }

  p{
    font-family: $ff-title;
    font-size: 18px;
    color: $white;
  }

  img{
    width:126px;
    height:51px;

    margin-left: 171px;
  }

  nav{

    .menu{

      font-size: $fz-h1;

      padding-right: 100px;

    }

    ul{
      list-style-type: none;

      .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
      }

      li{
        width: 120px;
        text-align: center;
        position: relative;

        .sous{
          display: none;
          position: absolute;
          width: 100%;
          z-index: 1000;

          li{
            float: none;
            width: 100%;
            text-align: left;
          }

          a{
            padding: 10px;
            border-bottom: none;

            &:hover{
              border-bottom: none;
            }
          }

        }
      }

      &::after{
        content: "";
        display: table;
        clear: both;
      }

    }
    a{
      display: block;
      text-decoration: none;
      color: $black;
      padding: 40px 0;

      &:hover{
        color: $projet-rouge;
        border-bottom: $projet-rouge;
      }
    }

  }

  nav > ul li:hover .sous{
    display: block;
  }

}



@media only screen and (max-width: 760px){

  .nav-ul{

    display: none;
  }

  header {

    nav{

      div{

        .menu{

          font-size: 50px;
        }
      }
    }

    a{

      img{

        margin-left: 75px;
      }
    }

  }


}

@media only screen and (max-width: 1440px){

  .nav-ul{

    display: none;
  }


}

@media only screen and (min-width: 1440px){

  .menu{

    display: none;
  }


}
