.hero{
  background-image: url("../images/desktop_accueil_hero.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    padding-top: 300px;
    color:$projet-rouge;
  }

  h2{
    color: $white;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    width: 400px;
  }

  .call-pour-reserver{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $projet-rouge;
    width: 410px;
    height: 55px;
  }

  .icone-hero{
    display: flex;
    align-items: center;
    a{
      margin: 20px 20px 120px 20px;
    }

  }

}


@media only screen and (min-width: 375px){

  .hero h1{

    font-size: 24px;
    padding-top: 170px;
  }
  .hero{
    h2{
      font-size: 18px;
      width: 200px;
    }

    .call-pour-reserver{
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $projet-rouge;
      width: 250px;
      height: 30px;
      font-size: 12px;
      padding: 0;
    }


    .icone-hero{
      padding-top: 60px;
      padding-bottom: 180px;
      a{
        margin: 20px 20px 0px 20px;
      }
    }

    .scroll-over{
      display: none;
    }
  }

}

@media only screen and (min-width: 1024px){

  .hero h1{

    font-size: $fz-h1;
  }

  .hero{
    h2{
      color: $white;
      text-shadow: 2px 2px 5px #000;
      text-align: center;
      width: 400px;
      font-size: $fz-h2;
    }

    .call-pour-reserver{
      font-size: 18px;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $projet-rouge;
      width: 410px;
      height: 55px;
    }
  }

}

@media only screen and (min-width: 1440px){

  .hero{
    background-image: url("../images/desktop_accueil_hero.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      padding-top: 300px;
      color:$projet-rouge;
    }

    h2{
      color: $white;
      text-shadow: 2px 2px 5px #000;
      text-align: center;
      width: 400px;
      font-size: $fz-h2;
    }

    .call-pour-reserver{
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $projet-rouge;
      width: 410px;
      height: 55px;
    }

    .icone-hero{
      display: flex;
      align-items: center;
      a{
        margin: 20px 20px 120px 20px;
      }

    }

  }

}




