.infolettre{


  background-image: url("../images/desktop_accueil_map_placeholder.png");
  background-repeat: no-repeat;
  background-position: top right;



  .infolettreContenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1020px;
    padding-left: 410px;
    padding-top: 200px;

    .champText{

      padding: 10px 200px 5px 40px;

      color: #62574D;

      font-family: $ff-normal;

      font-size: $fz-normal;

      border: solid #000 1px;

      background-color: #fff;
    }

    .redish{

      background-color: $projet-rouge;
      color: $white;

      border: solid $projet-rouge 1px;

      font-family: $ff-normal;
      font-size: $fz-normal;

      padding: 10px 12px 5px 12px;
    }

    .rougeText{

      color: $projet-rouge;
    }


    h2{
      text-align: left;
      color:$projet-rouge;
    }
  }

}




@media screen and (min-width: 375px){
  .infolettre{


    background-image: url("../images/image_map_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

    display: flex;
    align-items: center;
    flex-direction: column;



    .infolettreContenu{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding-left: 0px;
      padding-top: 60px;


      p{
        font-size: 14px;
        text-align: center;
        padding-bottom: 200px;
      }

      form{
        padding-top: 300px;
      }

      .champText{

        padding: 10px 80px 5px 10px;
        color: #62574D;
        font-family: $ff-normal;
        font-size: 14px;
        border: solid #000 1px;
        background-color: #fff;
      }

      .redish{

        background-color: $projet-rouge;
        color: $white;

        border: solid $projet-rouge 1px;

        font-family: $ff-normal;
        font-size: $fz-normal;

        padding: 1px 8px 2.5px 12px;
      }

      .rougeText{

        color: $projet-rouge;
      }


      h2{
        text-align: center;
        color:$projet-rouge;
        font-size: $fz-normal;
        width: 250px;
      }
    }

  }


}

@media only screen and (min-width: 1024px){
  .infolettre{
    height: 1010px;

    background-image: url("../images/desktop_accueil_map_placeholder.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;



    .infolettreContenu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 1020px;
      padding-left: 210px;
      padding-top: 300px;

      form{
        padding-top: 100px;
        padding-left: 100px;
      }

      p{
        font-size: $fz-normal;
        text-align: left;
        padding-bottom: 0;
      }

      .champText{

        padding: 10px 200px 5px 40px;

        color: #62574D;

        font-family: $ff-normal;

        font-size: $fz-normal;

        border: solid #000 1px;

        background-color: #fff;
      }

      .redish{

        background-color: $projet-rouge;
        color: $white;

        border: solid $projet-rouge 1px;

        font-family: $ff-normal;
        font-size: $fz-normal;

        padding: 10px 12px 5px 12px;
      }

      .rougeText{

        color: $projet-rouge;
      }


      h2{
        text-align: left;
        color:$projet-rouge;
        font-size: $fz-h2;
        width: 700px;
      }
    }

  }


}

@media only screen and (min-width: 1440px){

  .infolettre{
    height: 1010px;

    background-image: url("../images/desktop_accueil_map_placeholder.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;



    .infolettreContenu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 1020px;
      padding-left: 410px;
      padding-top: 300px;

      form{
        padding-top: 100px;
        padding-left: 0;
      }

      p{
        font-size: $fz-normal;
        text-align: left;
        padding-bottom: 0;
      }

      .champText{

        padding: 10px 200px 5px 40px;

        color: #62574D;

        font-family: $ff-normal;

        font-size: $fz-normal;

        border: solid #000 1px;

        background-color: #fff;
      }

      .redish{

        background-color: $projet-rouge;
        color: $white;

        border: solid $projet-rouge 1px;

        font-family: $ff-normal;
        font-size: $fz-normal;

        padding: 10px 12px 5px 12px;
      }

      .rougeText{

        color: $projet-rouge;
      }


      h2{
        text-align: left;
        color:$projet-rouge;
        font-size: $fz-h2;
        width: 700px;
      }
    }

  }

}

