.motdereal{
  background-color: #FFF;
  height: 1100px;

  background-image: url("../images/desktop_accueil_real.png");
  background-repeat: no-repeat;
  background-position: bottom right;

  h2{
    padding-top: 200px;
    padding-bottom: 10px;
    text-align: center;
    color:$projet-bleu;
  }
  .citation{

    display: flex;
    flex-direction: column;
    width: 950px;
    padding-left: 410px;

    .bleuText{

      color: $projet-bleu;
    }

    h2{
      text-align: right;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    a{
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $projet-bleu;
      width: 410px;
      height: 55px;
    }

  }

  .guillemet1{
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 800px;
    margin: 0;
  }

  .guillemet2{
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

}



@media screen and (min-width: 375px){
  .motdereal{
    background-color: #FFF;
    height: 740px;

    background-image: url("../images/desktop_accueil_real.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;


    h2{
      padding-top: 30px;
      padding-bottom: 10px;
      text-align: center;
      color:$projet-bleu;
      font-size: 24px;
      width: 300px;
    }
    .citation{
      height: 680px;
      width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;

      p{
        width: 300px;
        font-size: 14px;
      }


      .bleuText{

        color: $projet-bleu;
      }

      h2{
        text-align: center;
        font-size: 24px;
        width: 200px;
        padding-top: 0;
        padding-bottom: 0;
      }

      a{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $projet-bleu;
        width: 250px;
        height: 30px;
        font-size: 12px;
      }

    }

    .guillemet1{
      text-align: right;
      padding-left: 420px;

      margin: 0;
    }

    .guillemet2{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      padding-left: 300px;
    }

  }

}

@media only screen and (min-width: 1024px){
  .motdereal{
    background-color: #FFF;
    height: 1100px;

    background-image: url("../images/desktop_accueil_real.png");
    background-repeat: no-repeat;
    background-position: bottom right;

    h2{
      padding-top: 200px;
      padding-bottom: 10px;
      text-align: center;
      color:$projet-bleu;
      font-size: $fz-h2;
      width: 1400px;
    }
    .citation{

      display: flex;
      flex-direction: column;
      width: 950px;
      padding-left: 0px;
      padding-right: 0px;

      .bleuText{

        color: $projet-bleu;
      }

      h2{
        text-align: right;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: $fz-h2;
      }
      p{
        width: 600px;
        font-size: 24px;
      }

      a{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $projet-bleu;
        width: 410px;
        height: 55px;
        font-size: 18px;
      }

    }

    .guillemet1{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 720px;
      margin: 0;
      padding-left: 0;
    }

    .guillemet2{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      padding-left: 600px;
    }

  }

}

@media only screen and (min-width: 1440px){
  .motdereal{
    background-color: #FFF;
    height: 1100px;

    background-image: url("../images/desktop_accueil_real.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;

    h2{
      padding-top: 200px;
      padding-bottom: 10px;
      text-align: center;
      color:$projet-bleu;
      font-size: $fz-h2;
      width: 1400px;
    }
    .citation{

      display: flex;
      flex-direction: column;
      width: 950px;
      padding-left: 0px;
      padding-right: 600px;

      .bleuText{

        color: $projet-bleu;
      }

      h2{
        text-align: right;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: $fz-h2;
      }
      p{
        width: 600px;
        font-size: 24px;
      }

      a{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $projet-bleu;
        width: 410px;
        height: 55px;
        font-size: 18px;
      }

    }

    .guillemet1{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 720px;
      margin: 0;
      padding-left: 0;
    }

    .guillemet2{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      padding-left: 600px;
    }

  }

}
