div{

  font-family: $ff-normal;
  font-size: $fz-normal;

  padding: 0;
  margin: 0;


  section{

   padding-top: 130px;
   padding-bottom: 57px;

    div.flexSectionPeche{

      display: flex;
      justify-content: center;

      .sectionPeche{

        padding-right: 130px;

        .rougeText{

          font-family: $ff-title;
          font-size: $fz-normal;

          color: $projet-rouge;

        }

      }

      img{

        width: 592px;
        height: 436px;

      }

      h2{

        font-family: $ff-title;
        font-size: $fz-h2;

      }
      ul{

        li{

          list-style-type: square;

          padding: 15px 0;

        }

      }

      .mediumText{

        font-weight: 500;

      }

      .boldText{

        font-family: $ff-title;

      }

    }

  }

}

.single {
  background-image: url("../images/desktop_peche_hero.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.button{

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  h2{

    color: $projet-bleu;

    padding-bottom: 75px;

  }

  .buttonReserve {

    a{
      color: $white;
      font-size: $fz-link;

      text-decoration: none;
    }

    background-color: $projet-bleu;

    width: 360px;
    height: 41px;

  }

}

.sectionImpair{

  background-image: url(../images/desktop_peche_background_info.jpg);
  background-repeat: no-repeat;

  background-size: cover;
}



@media screen and (max-width: 765px){

  .flexSectionPeche{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sectionPeche{
      margin-left: 20px;
      h2{
        font-size: $fz-normal;
      }
  }

  }


  .button{
    h2{

    }
    .buttonReserve{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      width: 329px;
      height: 40px;
    }
  }



}

@media only screen and (min-width: 1024px){


}

@media only screen and (min-width: 1440px){


}

