.temoignages{

  display: flex;
  flex-direction: column;
  width: 1110px;

  margin: 0 auto;

  .impair{

    display: flex;
    flex-direction: row-reverse;

  }

  h2{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }

  section{
    display: flex;
    height: 370px;
    padding: 0;
    margin-bottom: 150px;

    .contenuInfo{
      display: flex;
      flex-direction: column;
      margin-right: 70px;
      margin-left: 70px;

      .bleuText{

        color: $projet-bleu;
      }

      .date{
        font-family: $ff-title;
        font-size: 16px;
        text-align: right;
      }

      justify-content: center;
      align-items: center;

      flex-direction: column-reverse;

      flex-wrap: wrap;

      img{

        width: 45%;

        padding-bottom: 20px;

      }

      .contenuInfo{


        padding-left: 75px;

        margin-left: 0;

        h3{

          font-size: 20px;
        }
      }

      .date{

        font-size: 14px;
      }
    }

    .impair{

      flex-direction: row-reverse;
    }
  }

}








@media only screen and (max-width: 760px) {

  .temoignages{

    width: auto;


    h2{

      font-size: $fz-normal;
    }

    font-size: 14px;

    section{

      padding-bottom: 25px;
      margin-bottom: 0;

      height: 100%;

      justify-content: center;
      align-items: center;

      flex-direction: column-reverse;

      flex-wrap: wrap;

      img{

        width: 45%;

        padding-bottom: 20px;

      }

      .contenuInfo{


        padding-left: 75px;

        margin-left: 0;

        h3{

          font-size: 20px;
        }
      }

      .date{

        font-size: 14px;
      }
    }

    .impair{

      flex-direction: row-reverse;
    }
  }

}

