//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE

h1, h2, h3, h4, h5, h6 {
  margin:0;
}

h1{
  font-size: $fz-h1;
  font-family: $ff-title;
}

h2{
  font-size: $fz-h2;
  font-family: $ff-title;
}

h3{
  font-size: $fz-h3;
  font-family: $ff-title;
}

h4{
  font-size: $fz-h4;
}

h5{
  font-size: $fz-h5;
}

h6{
  font-size: $fz-h6;
}

.titre {
  text-transform: uppercase;
  font-weight: bold;
}